<h1>Colleges</h1>
<% @colleges.each do |college| %>
  <% courses = Section.where("college = ?",college[0]) %>
<div class="row">
  <div class="span1">
    <h3><%= link_to college[0],"/course/college/#{college[0]}" %></h3>
  </div>
  <div class="span" style="margin-top: 12px">
    <h4><%= college[1] %></h4>
  </div>
</div>
<% end %>
