<h1><%= "#{@course.college} #{@course.course_id}" %></h1>
<h3><%= "#{@course.title}: #{@course.credits} Credit hours" %></h3>
<% @sections.each do |section| %>
  <h2><%= link_to "#{section.section_id}",course_section_path(@course.id,section.id) %></h2>
<% end %>
