<%= @status %>

<div class="row">
<% Scheduler.days.each do |day|%>
	<div class="col-md-2">
	<h2><%= Scheduler.day_to_str day, true%></h2>
	<% @scheduler.week[day].each do |(time,slot)| %>
	  <%= Scheduler.float_time_to_time(time).strftime("%l:%M %P") %>
	  <% if slot!=false %>
	    <% meeting = Meeting.find(slot) %>
	    <%= "#{meeting.section.course.name} - #{meeting.section.name}"  %>
	  <% end %><br>
	<% end %>
	</div>
<% end %>