<h1>Your Schedules</h1>

<% @schedules.each do |schedule| %>
<div class="row">
  <div class="span4"><h3><%= link_to schedule.name, schedule_path(schedule.id) %></h3></div>
  <div class="span" style="margin-top: 15px;">
    <%= link_to 'Edit', edit_schedule_path(schedule), class: "btn-primary btn" %>
    <%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn-danger btn" %>
  </div>
</div>
<% end %>

<br>
<%= link_to 'New Schedule', new_schedule_path %>
