<div class="row">
  <div class="col-md-2">
    <h3><%= link_to "#{@section.name} - #{@section.crn}","/school/#{@school.name}/#{@course.name}/#{@section.name}" %></h3>
  </div>
  <div class="col-md-6">
    <% meetings = Meeting.where("section_id = ?",@section.id) %>
    <% meetings.each do |meeting| %> 
      <% @meeting = meeting %>
      <%= render partial: "meeting/show", object: @meeting %>
    <% end %>
  </div>
</div>
