<div class="row">
  <div class="span">
    <h3><%= link_to "#{@section.name}",course_section_path(@course.id,@section.id) %></h3>
  </div>
  <div class="span">
    <% meetings = Meeting.where("section_id = ?",@section.id) %>
    <% meetings.each do |meeting| %> 
      <% @meeting = meeting %>
      <%= render partial: "meeting/show", object: @meeting %>
    <% end %>
  </div>
</div>
