/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.navbar-login{
  float: right;
  margin: 5px 0px 0px 0px;
}

.navbar-login .btn{
  margin: 0px !important;
}
