// Place all the styles related to the TimeConstraint controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

table td,th{
  padding-left: 5px;
}
